# Dependencies
node_modules/

# Build
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Test coverage
coverage/

# OS
.DS_Store
Thumbs.db 
package-lock.json
